$bgColor: #111;
$mainTextColor: #eee;
$activatedTextColor: #c00;
$poster-ratio: (445/300);

body {
  /* COMMON */
  background-color: $bgColor;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $mainTextColor;

  img {
    display: block;
  }

  a {
    text-decoration: none;
  }

  .inner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  .title {
    width: fit-content;

    font: {
      size: 24px;
      weight: 700;
    }

    ;
    border-bottom: 2px solid $mainTextColor;
  }

  .more {
    color: $mainTextColor;
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  /* HEADER */
  header {
    width: 100%;
    position: sticky;
    background-color: $bgColor;
    z-index: 9;
    top: 0;

    >.inner {
      height: 120px;
      background-color: $bgColor;

      .logo {
        position: absolute;
        height: 65px;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        z-index: 9;
      }

      .submenu {
        position: absolute;
        height: 40px;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        z-index: 9;

        ul.menu {
          display: flex;

          li {
            margin-left: 15px;

            a {
              color: $mainTextColor;

              font: {
                weight: 700;
                size: 24px;
              }

              &:hover {
                color: $activatedTextColor;
              }
            }

            .btn_genre {
              color: $activatedTextColor
            }
          }
        }
      }
    }

    .main-menu {
      display: none;
      position: fixed;
      height: 100%;
      width: calc(10% + 20em);
      top: 0;
      bottom: 0;
      right: -30em;
      background-color: $bgColor;
      z-index: 8;

      .menu {
        position: absolute;
        top: 150px;
        left: 50px;

        .item {
          margin-bottom: 20px;

          a {
            color: $mainTextColor;
            font-size: 20px;
          }
        }
      }
    }

    .dimmed {
      display: none;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      background-color: rgba($color: #eee, $alpha: 0.1);
      opacity: 0;
      z-index: 7;
    }
  }

  /* CRITICISM TOP */
  .criticism-top {
    position: relative;
    z-index: 1;

    .swiper-container {
      width: 1200px;
      margin-top: 20px;
      overflow: hidden;

      .swiper-wrapper {
        .swiper-slide {
          .art-box {
            width: 200px;
            height: 200px * $poster-ratio;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 120px;
              transition: .5s;
            }
          }

          &.swiper-slide-active {
            .art-box img {
              width: 150px;
            }
          }
        }
      }
    }
  }

  /* MOVIE TOP */
  /* RECOMMENDATION CRITICISM */
  /* INFLUENCER CRITICISM */
  .movie-top,
  .recommendation-criticism,
  .influencer-criticism {
    .swiper-container {
      width: 1200px;
      overflow: hidden;

      .swiper-wrapper {
        .swiper-slide {
          .art-box {
            width: 200px;
            height: 200px * $poster-ratio;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 120px;
              transition: .5s;

              &:hover {
                width: 150px;
              }
            }
          }
        }
      }
    }
  }

  /* BANNER */
  .banner {
    margin-top: 50px;

    .img-box {
      display: flex;
      justify-content: center;

      img {
        width: 80%;
      }
    }
  }
}

/* FOOTER */
footer .menu {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  li {
    position: relative;

    a {
      display: block;
      color: #ccc;
      font-size: 12px;
      font-weight: 700;
      padding: 15px;
    }

    &::before {
      content: "";
      width: 3px;
      height: 3px;
      background-color: #555;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      margin: auto;
    }

    &:last-child::before {
      display: none;
    }
  }
}